<!doctype html>
<html lang="en">

<head>
    <title>Title</title>

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;

        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
        </script>

    <app-header></app-header>
    <div class="back bg-warning ">
        <div class="center bg-white ml-3 mr-3 " id="move1">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="input-group bg-warning mr-sm-2 p-2" style="width: 40%;">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
                    <button class="btn bg-light bi bi-search" type="search">search</button>
                </div>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/images/3rd1.jpg" alt="First slide"
                            style="width: 10%; height:500px">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/images/1st2.webp" alt="Second slide"
                            style="width: 80%; height:500px">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/images/4th1.jpg" alt="Third slide"
                            style="width: 80%; height:500px">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/images/1st 1.jpg" alt="First slide"
                            style="width: 10%; height:500px">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"
                        style="background-color: rgb(142, 142, 142);padding: 10px;padding: 40px 10px;"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"
                        style="background-color: rgb(142, 142, 142);padding: 10px;padding: 40px 10px;"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <div class="center bg-white ml-3 mr-3">
            <div class="bg-sec pt-5">
                <div class="row mr-3 ml-3">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-10">
                                <h4>Best Deals</h4>
                                <p>Best Mobile and Accessories</p>
                            </div>
                            <div class="col-sm-2 col-md-4 col-lg-2">
                                <button type="button" class="d-md-flex btn bg-primary text-white justify-content-md-end"
                                    routerLink="/file">Explore all</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-2 mt-3 mb-3"
                                *ngFor="let ecom of orderdata | filter:searchText">
                                <div class="card shadow-lg rounded" style="height: 100%;">
                                    <img src="{{ecom.img}}" class="card-img-top rounded mx-auto d-block pt-3 bgimg"
                                        alt="..." style="width:50%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-text">{{ecom.name}}</h4>
                                        <p>{{ecom.details}}</p>
                                        <button type="button" class="bg-primary btn text-white"
                                            [routerLink]="['/menu',ecom.id]">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-2">
                        <img src="../../assets/images/banner.jpg"
                            style="width: 100%;height:100%;border: 2px solid black;" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="center pt-5 bg-white  ml-3 mr-3">
            <div class="row ml-3 mr-3 ">
                <div class="col-sm-10 col-md-12 col-lg-10 bg-white ">
                    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h3>Best Offers For Tv's</h3>
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card " style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/tv.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 150%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Sony 55 Inch 4K Ultra HD TV X80K Series
                                                            (KD55X80K)</h5>
                                                        <p class="card-text">₹87,390 ₹129,900 33% off (You Save ₹42,510)
                                                        </p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card " style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/tv1.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 150%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Sony 55 Inch 4K Ultra HD TV (XR55A80K)
                                                        </h5>
                                                        <p class="card-text">₹184,290 ₹249,900 26% off (You Save
                                                            ₹65,610)</p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card" style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/tv2.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 150%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Samsung Ultra HD 4K LED TV (UA75BU8000)
                                                        </h5>
                                                        <p class="card-text"> ₹189,990 ₹239,900 21% off (You Save
                                                            ₹49,910)</p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h3>Best Offers For Refridgerators</h3>
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card " style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/fridge1.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 150%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">LG 260 Litres Convertible PLUS Double
                                                            door Fridge
                                                            with Smart Inverter Compressor (GLS292RBCY)</h5>
                                                        <p class="card-text">₹30,150 ₹36,199 17% off (You Save ₹6,049)
                                                        </p>
                                                        <p class="card-text"> <small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card " style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/fridge2.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 150%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">LG 668 L Fridge with Inverter Linear
                                                            Compressor
                                                        </h5>
                                                        <p class="card-text">₹175,349 ₹194,290 10% off (You Save
                                                            ₹18,941)</p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card " style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/fridge3.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 150%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">LG 260L Double Door 2 Star Fridge with
                                                            Humidity
                                                            Controller (GLN292RDSY)</h5>
                                                        <p class="card-text"> ₹27,800 ₹33,399 17% off (You Save ₹5,599)
                                                        </p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h3>Best Offers For Wash Machine</h3>
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card" style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/wash1.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 100%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">LG Washing Machine 10.5 kg Inverter
                                                            Washer with
                                                            Dryer ,Black ( FHD1057STB)
                                                        </h5>
                                                        <p class="card-text">₹73,150 ₹84,990 14% off (You Save ₹11,840)
                                                        </p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card" style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/wash2.webp"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 100%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Whirlpool 7 kg Fully Automatic Front Load
                                                            Washing
                                                            Machine (FRESHCARE7112I)</h5>
                                                        <p class="card-text">₹34,750 ₹42,600 18% off (You Save ₹7,850)
                                                        </p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card" style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="../../assets/images/wash3.jpg"
                                                        class="img-fluid rounded-start" alt="..."
                                                        style="width: 100%;height:300px">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Whirlpool 8 kg Semi Automatic Top Load
                                                            Washing
                                                            Machine (ACE8.0TRBDRYPURPDAZE)
                                                        </h5>
                                                        <p class="card-text"> ₹14,850 ₹19,150 22% off (You Save ₹4,300)
                                                        </p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3
                                                                mins
                                                                ago</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"
                                style="background-color: rgb(142, 142, 142);padding: 10px;padding: 40px 10px;"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls1" role="button"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: rgb(142, 142, 142);padding: 10px;padding: 40px 10px;"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-2">
                    <img src="../../assets/images/banner2.jpg" alt="" style="width: 100%; height:100%">
                </div>
            </div>
        </div>


        <div class="center bg-white ml-3 mr-3">
            <div class="bg-sec pt-5">
                <h3 class="ml-4">Best Offers For Home Appliance's:</h3>
                <div class="row mr-3 ml-3">
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" *ngFor="let tv of orderdatatv | filter:searchText">
                        <div class="card shadow-lg rounded">
                            <div class="row bgimg p-4">
                                <div class="col-md-4">
                                    <img src="{{tv.img}}" class="img-fluid rounded-start p-3" alt="..."
                                        style="width: 100%;height:300px">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{tv.name}}</h5>
                                        <h4 class="card-text">{{tv.price | currency:'INR'}}</h4>
                                        <p class="card-text">{{tv.details}}</p>
                                        <p class="card-text"><small class="text-muted">{{tv.update}}</small></p>
                                        <button [routerLink]="['/menutv',tv.id]"
                                            class="btn bg-primary text-white">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="center bg-white ml-3 mr-3">
            <div class="bg-sec pt-5">
                <div class="row mr-3 ml-3">
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" *ngFor="let user of users | filter:searchText">
                        <div class="card shadow-lg rounded">
                            <div class="row bgimg p-4">
                                <div class="col-md-4">
                                    <img src="{{user.img}}" class="img-fluid rounded-start p-3" alt="..."
                                        style="width: 100%;height:300px">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{user.name}}</h5>
                                        <h4 class="card-text">{{user.price | currency:'INR'}}</h4>
                                        <p class="card-text">{{user.details}}</p>
                                        <p class="card-text"><small class="text-muted">{{user.description}}</small>
                                        </p>
                                        <button [routerLink]="['/third',user.id]"
                                            class="btn bg-primary text-white">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="centes bg-light  mt-0  ml-3 mr-3">
            <div class="footer  pt-4  p-3">
                <h3> No Cost EMI</h3>
                <p>
                    In an attempt to make high-end products accessible to all, our No Cost EMI plan enables you to shop
                    with
                    us
                    under EMI, without shelling out any processing fee. Applicable on select mobiles, laptops, large and
                    small
                    appliances, furniture, electronics and watches, you can now shop without burning a hole in your
                    pocket.
                    If
                    you've been eyeing a product for a long time, chances are it may be up for a no cost EMI. Take a
                    look
                    ASAP!
                    Terms and conditions apply.
                </p>

                <h3> Mobile Exchange Offers</h3>
                <p>
                    Get an instant discount on the phone that you have been eyeing on. Exchange your old mobile for a
                    new
                    one after
                    the Flipkart experts calculate the value of your old phone, provided it is in a working condition
                    without damage
                    to the screen. If a phone is applicable for an exchange offer, you will see the 'Buy with Exchange'
                    option on
                    the product description of the phone. So, be smart, always opt for an exchange wherever possible.
                    Terms
                    and
                    conditions apply.
                </p>


                <h3>Large Appliances</h3>
                <p>
                    Sleek TVs, power-saving refrigerators, rapid-cooling ACs, resourceful washing machines - discover
                    everything you need to run a house under one roof. Our Dependable TV and Appliance Store ensures
                    zero
                    transit damage, with a replacement guarantee if anything goes wrong; delivery and installation as
                    per
                    your convenience and a double warranty (Official Brand Warranty along with an extended Flipkart
                    Warranty) - rest assured, value for money is what is promised and delivered. Shop from market
                    leaders in
                    the country like Samsung, LG, Whirlpool, Midea, Mi, Vu, Panasonic, Godrej, Sony, Daikin, and Hitachi
                    among many others.</p>
            </div>

            

        </div>

    </div>










</body>

</html>